html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
:root {
	--grid-rows: 1;
	--grid-cols: 1;
	--grid-color: '#ff9ebc';
	--grid-bkgd: '#ce9eff';
	--grid-brush: '#9effa7';
	--div-bkgd: '';
	/* colors */
	--clr-bkgd: hsl(270, 100%, 98.5%);
	--clr-def: hsl(270, 100%, 50%);
	--clr-def-alpha: hsl(270, 100%, 50%, 38%);
	--clr-def-light: hsl(270, 100%, 81%);
	--clr-def-dark: hsl(270, 61.8%, 19.1%);
	--clr-shadow-light: hsl(270, 61.8%, 97%);
	--clr-shadow-dark: hsl(270, 38.2%, 80.9%);
}

.body {
	height: 100vh;
	width: 828px;
	background-color: var(--clr-bkgd);
	font-family: sans-serif;
	color: var(--clr-def-dark);
}

.container-all {
	height: 100vh;
	width: auto;
	display: grid;
	grid-template-columns: 76.4% 23.6%;
	grid-template-rows: 14.6% 76.4% 9%;
	grid-template-areas:
		'title title'
		'canvas palette'
		'footer footer';
	gap: 5px;
}

.title {
	grid-area: title;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

.form-divGen {
	max-width: 62vh;
	grid-area: palette;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}
label {
	padding-top: 6px;
}

.brush,
.bkgd,
.grid {
	display: grid;
	grid-template-columns: 61.8% 38.2%;
	justify-content: center;
	align-items: center;
	margin: 1rem 0%;
	text-align: center;
}

.container-divGen {
	border: 1px solid var(--clr-def-alpha);
	grid-area: canvas;
	display: grid;
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.genDivs {
	border: 1px solid var(--grid-color);
	background-color: var(--div-bkgd);
}

@keyframes hover {
	0% {
		background-color: var(--grid-bkgd);
	}
	100% {
		background-color: var(--grid-brush);
	}
}

.genDivs {
	animation-name: hover;
	animation-duration: 1ms;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

.genDivs:active,
.genDivs:focus,
.genDivs:hover {
	animation-fill-mode: forwards;
	animation-play-state: running;
}

.bttn {
	align-self: center;
	font-family: inherit;
	outline: none;
	border: none;
	width: 120.8px;
	height: 3rem;
	font-size: 1rem;
	border-radius: 5rem;
	margin-bottom: 2rem;
	background-color: var(--clr-bkgd);
	box-shadow: -1.6px -2.6px 2.6px var(--clr-shadow-light),
		-2.6px -4.2px 4.2px var(--clr-shadow-light),
		-4.2px -6.9px 6.9px var(--clr-shadow-light), 1.6px 2.6px 2.6px var(--clr-shadow-dark),
		2.6px 4.2px 4.2px var(--clr-shadow-dark), 4.2px 6.9px 6.9px var(--clr-shadow-dark);
	color: var(--clr-def--dark);
	text-shadow: -1px -1.6px 1.6px var(--clr-shadow-light),
		1px 1.6px 1.6px var(--clr-shadow-dark);
	transition: all 146ms cubic-bezier(0.19, 1, 0.22, 1);
}

.bttn:active {
	box-shadow: inset -1.6px -2.6px 2.6px var(--clr-shadow-light),
		inset -2.6px -4.2px 4.2px var(--clr-shadow-light),
		inset -4.2px -6.9px 6.9px var(--clr-shadow-light),
		inset 1.6px 2.6px 2.6px var(--clr-shadow-dark),
		inset 2.6px 4.2px 4.2px var(--clr-shadow-dark),
		inset 4.2px 6.9px 6.9px var(--clr-shadow-dark);

	text-shadow: inset -1px -1.6px 1.6px var(--clr-shadow-light),
		inset 1px 1.6px 1.6px var(--clr-shadow-dark);
	color: var(--clr-def-dark);
}

.input-colorBrush,
.input-colorBkd,
.input-colorGrid {
	outline: none;
	border: none;
	border-radius: 0.5rem;
	height: 2rem;
	box-shadow: -1.6px -2.6px 2.6px var(--clr-shadow-light),
		-2.6px -4.2px 4.2px var(--clr-shadow-light),
		-4.2px -6.9px 6.9px var(--clr-shadow-light), 1.6px 2.6px 2.6px var(--clr-shadow-dark),
		2.6px 4.2px 4.2px var(--clr-shadow-dark), 4.2px 6.9px 6.9px var(--clr-shadow-dark);
	transition: all 146ms cubic-bezier(0.19, 1, 0.22, 1);
}

.input-colorBrush:active,
.input-colorBkd:active,
.input-colorGrid:active {
	box-shadow: inset -1.6px -2.6px 2.6px var(--clr-shadow-light),
		inset -2.6px -4.2px 4.2px var(--clr-shadow-light),
		inset -4.2px -6.9px 6.9px var(--clr-shadow-light),
		inset 1.6px 2.6px 2.6px var(--clr-shadow-dark),
		inset 2.6px 4.2px 4.2px var(--clr-shadow-dark),
		inset 4.2px 6.9px 6.9px var(--clr-shadow-dark);
}

.input-num {
	width: 158.1px;
	padding-left: 14.6%;
	margin: 1rem 18.7px 2rem 18.7px;
	border: none;
	outline: 1px solid var(--clr-def-alpha);
	background-color: var(--clr-bkgd);
	height: 3em;
	font-size: 1rem;
	color: var(--clr-def-dark);
	border-radius: 0.5rem;
	transition: all 146ms cubic-bezier(0.19, 1, 0.22, 1);

	/* box-shadow: -1.6px -2.6px 2.6px var(--clr-shadow-light),
		-2.6px -4.2px 4.2px var(--clr-shadow-light),
		-4.2px -6.9px 6.9px var(--clr-shadow-light), 1.6px 2.6px 2.6px var(--clr-shadow-dark),
		2.6px 4.2px 4.2px var(--clr-shadow-dark), 4.2px 6.9px 6.9px var(--clr-shadow-dark); */
}

.input-num:hover,
.input-num:focus {
	box-shadow: inset -1.6px -2.6px 2.6px var(--clr-shadow-light),
		inset -2.6px -4.2px 4.2px var(--clr-shadow-light),
		inset -4.2px -6.9px 6.9px var(--clr-shadow-light),
		inset 1.6px 2.6px 2.6px var(--clr-shadow-dark),
		inset 2.6px 4.2px 4.2px var(--clr-shadow-dark),
		inset 4.2px 6.9px 6.9px var(--clr-shadow-dark);
	outline: none;
}

/* @keyframes hover {
  0% {
    // normal styles
  }
  100% {
    // hover styles
  }
}

.class {
  animation-name: hover;
  animation-duration: 1ms;
  animation-fill-mode: backwards;
  animation-play-state: paused;      
}

.class:active,
.class:focus,
.class:hover {
  animation-fill-mode: forwards;
  animation-play-state: running;
} */
