html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
:root {
	--grid-rows: 1;
	--grid-cols: 1;
}

.body {
	height: 100vh;
	width: 828px;
	outline: solid 1px red;
}

.container-all {
	height: 100vh;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	outline: solid 2px mediumturquoise;
}

.title {
	outline: solid 2px tan;
}

.form-divGen {
	min-width: 62vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1rem;
	outline: solid 1px blueviolet;
}
.container-divGen {
	height: 62vh;
	width: 62vh;
	outline: solid 1px teal;
	display: grid;
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.genDivs {
	border: 1px solid burlywood;
}

@keyframes hover {
	0% {
		background-color: gainsboro;
	}
	100% {
		background-color: hsl(0, 0%, 38%);
	}
}

.genDivs {
	animation-name: hover;
	animation-duration: 1ms;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

.genDivs:active,
.genDivs:focus,
.genDivs:hover {
	animation-fill-mode: forwards;
	animation-play-state: running;
}

/* @keyframes hover {
  0% {
    // normal styles
  }
  100% {
    // hover styles
  }
}

.class {
  animation-name: hover;
  animation-duration: 1ms;
  animation-fill-mode: backwards;
  animation-play-state: paused;      
}

.class:active,
.class:focus,
.class:hover {
  animation-fill-mode: forwards;
  animation-play-state: running;
} */
